@import "variables.less";
/*==========RESPONSIVE==========*/
@media (min-width: 1455px) {
    .container {
        max-width: 1440px;
    }
    .col-xxl-1 {-webkit-box-flex: 0;-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
    .col-xxl-2 {-webkit-box-flex: 0;-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
    .col-xxl-3 {-webkit-box-flex: 0;-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
    .col-xxl-4 {-webkit-box-flex: 0;-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
    .col-xxl-5 {-webkit-box-flex: 0;-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
    .col-xxl-6 {-webkit-box-flex: 0;-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
    .col-xxl-7 {-webkit-box-flex: 0;-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
    .col-xxl-8 {-webkit-box-flex: 0;-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
    .col-xxl-9 {-webkit-box-flex: 0;-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
    .col-xxl-10 {-webkit-box-flex: 0;-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
    .col-xxl-11 {-webkit-box-flex: 0;-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
    .col-xxl-12 {-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    .xxl-display {
        display: block;
    }
}
@media (max-width: 1454px) {
    .room-card-horizontal {
        .room-card-slider {
            width: 50%;
        }
        .stock {
            right: 50%;
        }
        .room-card-in {
            width: 50%;
        }
    }
    /*=HOME=*/
    /*Search*/
    .advanced-search {
        .search-bottom {
            max-width: 1200px;
        }
    }
}
@media (max-width: 1219px) {
    /*=HOME=*/
    /*Search*/
    .advanced-search {
        &-location {
            max-width: none;
        }
        &-prices {
            max-width: none;
        }
        &-filter {
            .flex-wrap();
            padding-bottom: 5px;
            &-item {
                margin-bottom: 10px;
                width: 50%;
            }
        }
        .search-bottom {
            max-width: 960px;
        }
    }
    /*About*/
    .about {
        padding: 100px 0;
    }
    /*=HOTEL-PAGE=*/
    .total-rating {
        &-item {
            width: 50%;
        }
    }
    .review-form {
        padding: 30px 30px 40px;
    }
    .review {
        display: block;
        &-img-wrapper {
            width: auto;
            height: 200px;
            img {
                max-height: 100%;
            }
        }
    }
    /*=SEARCH=*/
    .section-header {
        display: block;
    }
    .search-filter {
        .flex-start();
        padding-left: 0;
        max-width: none;
    }
    /*=ROOM-PAGE=*/
    .room-prices {
        &-item {
            &-price {
                font-size: 19px;
            }
            &-info {
                font-size: 17px;
            }
        }
    }
    /*=FOOTER=*/
    .footer {
        &-container {
            padding-left: 15px;
            padding-right: 15px;
        }
        &-contacts {
            max-width: 725px;
            &-item {
                &-tel {
                    font-size: 16px;
                }
            }
        }
    }
    /*=404=*/
    .error-title {
        font-size: 254px;
    }
    .error-info {
        &-title {
            margin-bottom: 40px;
        }
        p {
            font-size: 20px;
        }
        p + p {
            margin-top: 25px;
        }
    }
}
@media (min-width: 992px) {
    .rating {
        &:hover {
            > .rating-dropdown {
                display: block;
            }
        }
    }
}
@media (max-width: 991px) {
    /*=HEADER=*/
    .header-top {
        padding-bottom: 0;
        &-btns {
            display: none;
        }
    }
    .header-logo {
        &-img {
            width: 190px;
        }
    }
    .header-menu-btn {
        position: relative;
        display: block;
        width: 36px;
        height: 20px;
        cursor: pointer;
        &-item {
            position: absolute;
            left: 0;
            .border-radius(2px);
            width: 36px;
            height: 4px;
            background-color: #ffffff;
            .transition();
            &-1 {
                top: 0;
                left: 0;
            }
            &-2 {
                top: 8px;
            }
            &-3 {
                top: 16px;
            }
        }
        &.open {
            .header-menu-btn-item {
                top: 8px;
                &-1 {
                    .rotate(45deg);
                }
                &-2 {
                    .rotate(-45deg);
                }
                &-3 {
                    .rotate(-45deg);
                }
            }
        }
    }
    .header-menu-wrapper {
        position: relative;
    }
    .header-menu-container {
        .flex();
        .space-between();
        .align-items-center();
        .transition();
    }
    .header-menu {
        overflow-y: auto;
        position: absolute;
        left: 0;
        top: 100%;
        right: 0;
        z-index: 105;
        display: none;
        margin-left: 0;
        padding: 10px 0;
        min-width: 0;
        max-height: 600px;
        background-color: @accent-color;
        .transition(none);
        &-item {
            .box-sizing();
            margin: 0 auto;
            padding: 0 15px;
            max-width: 720px;
            &-mobile {
                display: block;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                .btn-sm {
                    width: 100%;
                    height: 34px;
                }
            }
        }
    }
    /*=LINKS&FORMS=*/
    .btn {
        &-sm {
            font-size: 12px;
        }
    }
    /*forms*/
    .form-section {
        .btn {
            margin-right: auto;
        }
    }
    /*date*/
    .form-group-dates {
        .flex();
        .align-items-center();
        .flex-start();
        .form-group-date {
            margin-bottom: 0;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    /*=HOME=*/
    /*Search*/
    .search.fixed {
        &.bottom {
            -webkit-transform: translate3d(0, 0, 0) !important;
            -moz-transform: translate3d(0, 0, 0) !important;
            -ms-transform: translate3d(0, 0, 0) !important;
            -o-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
        }
        &.show-advanced-btn {
            opacity: 1;
            -webkit-transform: translate3d(0, -85px, 0);
            -moz-transform: translate3d(0, -85px, 0);
            -ms-transform: translate3d(0, -85px, 0);
            -o-transform: translate3d(0, -85px, 0);
            transform: translate3d(0, -85px, 0);
        }
    }
    .search-form {
        padding: 15px;
    }
    .search-tags {
        padding: 10px 0;
    }
    .search-tag {
        margin-right: 20px;
        padding: 5px 0;
    }
    .search-dates {
        .flex-start();
        margin-bottom: 15px;
    }
    .search-bottom {
        display: block;
    }
    .advanced-search {
        top: 66px;
        &.fixed {
            .advanced-search-in {
                max-height: -webkit-calc(100vh - 114px);
                max-height: calc(100vh - 114px);
            }
        }
        &-in {
            margin-bottom: 114px;
            //max-height: -webkit-calc(94vh - 114px - 66px);
            //max-height: calc(94vh - 114px - 66px);
            max-height: -webkit-calc(100vh - 114px - 66px);
            max-height: calc(100vh - 114px - 66px);
        }
        &-details-col {
            &:first-child {
                margin-bottom: 15px;
                padding-bottom: 15px;
                &::after {
                    width: 100%;
                    height: 1px;
                    background-color: #ffffff;
                }
            }
        }
        .search-filter-label + .hotel-rating {
            margin-top: 5px;
            margin-left: 0;
        }
        .search-bottom {
            max-width: 720px;
        }
        .search-bottom-in {
            .flex-start();
            margin-bottom: 10px;
        }
    }
    /*Fire*/
    .room-card-horizontal {
        display: block;
        .room-card-slider {
            width: 100%;
        }
        .stock {
            right: 0;
        }
        .room-card-in {
            width: 100%;
        }
    }
    /*Blog*/
    .blog {
        &-card {
            display: block;
            &-img-wrapper {
                margin: 0 auto 15px;
            }
            &-content {
                position: static;
                padding-bottom: 0;
            }
            &-text {
                margin-bottom: 30px;
            }
            &-more {
                position: static;
            }
        }
    }
    /*About*/
    .about {
        padding: 60px 0;
        &-text {
            column-count: 1;
        }
    }
    /*=ROOM-PAGE=*/
    .product-slider-wrapper {
        margin: 0 auto;
        .rating {
            left: 15px;
            top: 0;
        }
    }
    .product-slider-small-wrapper {
        display: none;
    }
    .room-page-info-in {
        display: block;
    }
    .room-type {
        margin-bottom: 20px;
    }
    .room-hotel-name {
        margin-bottom: 40px;
    }
    .room-metro {
        margin-bottom: 20px;
    }
    /*=HOTEL-PAGE=*/
    .hotel-content {
        padding-bottom: 20px;
    }
    .hotel-product-slider-wrapper {
        margin-bottom: 0;
    }
    .hotel-tabs {
        margin-top: 0;
        margin-bottom: 20px;
        &-item {
            a {
                font-size: 14px;
            }
        }
    }
    .hotel-map-wrapper {
        margin-bottom: 30px;
    }
    .total-rating {
        &-main {
            margin-right: 20px;
            width: 140px;
        }
        &-item {
            padding-left: 35px;
        }
    }
    .stars-wrapper {
        &:last-child {
            margin-bottom: 30px;
        }
    }
    .review {
        display: block;
        &-in {
            display: block;
        }
        &-content {
            padding: 15px;
            width: 100%;
        }
        &-rating {
            padding: 0 15px 15px;
        }
    }
    .review-form {
        &-desktop-title {
            display: none;
        }
        &-mobile-title {
            display: block;
            margin-bottom: 0;
        }
        &-btn {
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            height: 30px;
            background-image: url("../img/ico-arrow-down-blue-lg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 26px 14px;
            &[aria-expanded="true"] {
                .rotate(180deg);
            }
        }
        .row {
            margin-top: 25px;
        }
    }
    /*=CONTACTS=*/
    .contacts-info {
        margin-bottom: 40px;
    }
    /*=SEARCH=*/
    .search-filter {
        .flex-wrap();
        &-item {
            margin-left: 0;
            width: 47%;
            &:last-child {
                margin-top: 15px;
                width: 100%;
            }
        }
    }
    /*=FOOTER=*/
    .footer {
        padding-top: 30px;
        &-menu {
            .flex-wrap();
            .flex-center();
            &-link {
                display: block;
                padding: 5px 15px;
                white-space: nowrap;
            }
        }
        &-bottom {
            display: block;
        }
        &-contacts {
            display: block;
            margin-bottom: 30px;
            max-width: none;
            &-item {
                margin: 0 auto 15px;
                &-tel {
                    max-width: 190px;
                }
                &-email {
                    max-width: 220px;
                }
                &-address {
                    margin-bottom: 0;
                    max-width: 320px;
                    &::before {
                        top: 0;
                    }
                }
            }
        }
        &-soc {
            margin: 0 auto;
        }
    }
    /*=404=*/
    .error-title {
        margin-bottom: 30px;
        font-size: 320px;
        text-align: center;
    }
    .error-info-wrapper {
        border-left: none;
        border-top: 2px solid  @bg-color;
        padding-top: 0;
    }
    .error-info {
        padding-top: 40px;
        padding-left: 0;
        text-align: center;
        &-title {
            margin-bottom: 50px;
            font-size: 32px;
            line-height: 1.2;
            text-align: center;
        }
        p {
            font-size: 20px;
        }
        p + p {
            margin-top: 30px;
        }
    }
}
@media (max-width: 767px) {
    /*=HEADER=*/
    .header-logo {
        &-img {
            width: 170px;
        }
    }
    .header-menu {
        &-item {
            max-width: 540px;
        }
    }
    /*=TEXT=*/
    /*titles*/
    .section-title-mb-lg {
        margin-bottom: 25px;
    }
    /*=LINKS&FORMS=*/
    .more-btn {
        position: static;
        margin: 0 auto;
    }
    /*date*/
    .form-group-dates {
        display: block;
        .form-group-date {
            margin-bottom: 15px;
            margin-right: 0;
        }
    }
    /*=HOME=*/
    /*Search*/
    .search.fixed {
        &.show-advanced-btn {
            opacity: 1;
            -webkit-transform: translate3d(0, -95px, 0);
            -moz-transform: translate3d(0, -95px, 0);
            -ms-transform: translate3d(0, -95px, 0);
            -o-transform: translate3d(0, -95px, 0);
            transform: translate3d(0, -95px, 0);
        }
    }
    .search-btn {
        .flex-shrink(0);
        .flex-grow(0);
        width: 116px;
    }
    .search-form {
        padding: 10px;
    }
    .search-tags {
        display: none;
        padding: 5px 0;
    }
    .search-tag {
        margin-right: 15px;
        font-size: 14px;
    }
    .search-dates {
        display: block;
        .form-group-date {
            margin-left: 0;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .advanced-search {
        top: 61px;
        &.fixed {
            .advanced-search-in {
                max-height: -webkit-calc(100vh - 122px);
                max-height: calc(100vh - 122px);
            }
        }
        &-in {
            margin-bottom: 122px;
            //max-height: -webkit-calc(94vh - 122px - 61px);
            //max-height: calc(94vh - 122px - 61px);
            max-height: -webkit-calc(100vh - 122px - 61px);
            max-height: calc(100vh - 122px - 61px);
        }
        &-prices {
            padding-bottom: 0;
            &-in {
                margin-bottom: 20px;
                width: 50%;
                &-label {
                    margin-bottom: 10px;
                }
            }
        }
        &-filter {
            &-item {
                width: 100%;
            }
        }
        .search-tags {
            display: block;
            padding: 5px 0;
        }
        .search-filter-label + .hotel-rating {
            margin-top: 0;
            margin-left: 5px;
        }
        .search-bottom {
            max-width: 540px;
        }
    }
    /*Fire*/
    .btn-fire {
        position: relative;
        top: 0;
        right: 0;
    }
    /*Blog*/
    .blog {
        padding-top: 40px;
    }
    /*About*/
    .about {
        padding: 40px 0;
        &-content {
            padding: 20px;
        }
    }
    /*=HOTEL-PAGE=*/
    .hotel-tabs {
        .flex-wrap();
        margin-bottom: 10px;
        &-item {
            margin-bottom: 10px;
            width: 50%;
            a {
                font-size: 16px;
            }
        }
    }
    .total-rating {
        display: block;
        &-main {
            margin: 0 auto 20px;
            width: 171px;
        }
        &-list {
            display: block;
        }
        &-item {
            padding-left: 40px;
            width: 100%;
        }
    }
    .stars-wrapper {
        display: block;
    }
    .stars {
        margin-right: 0;
        margin-bottom: 5px;
    }
    /*=ROOM-PAGE=*/
    .details-list {
        column-count: 2;
    }
    /*=MAP=*/
    .map-popup {
        max-width: 280px;
        &-img {
            width: 80px;
        }
        &-content {
            padding: 0 0 0 10px;
        }
    }
    /*=SEARCH=*/
    .search-filter {
        display: block;
        &-item {
            margin-top: 15px;
            width: 100%;
        }
    }
    /*=404=*/
    .error-title {
        font-size: 228px;
    }
    .error-info {
        &-title {
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
        }
        p + p {
            margin-top: 20px;
        }
    }
    /*=MODALS=*/
    .modal-content {
        padding: 30px 15px;
    }
    button.modal-close {
        top: 10px;
        right: 10px;
    }
    .modal-title {
        margin-bottom: 15px;
    }
}
@media (max-width: 575px) {
    /*=HEADER=*/
    .header-menu {
        &-item {
            max-width: none;
        }
    }
    /*=LINKS&FORMS=*/
    .btn-form {
        margin: 0 auto;
    }
    /*=HOME=*/
    /*Search*/
    .advanced-search {
        &-reset-btn {
            margin-right: 10px;
            padding: 10px;
        }
        &-ico-btn {
            &-favorite {
                margin-right: 20px;
            }
            &-map {
                margin-right: 10px;
            }
        }
        .search-bottom {
            max-width: none;
        }
    }
    /*Popular*/
    .hotel-card {
        &-slider {
            max-height: none;
        }
    }
    /*Fire*/
    .room-card {
        &-prices {
            &-item {
                padding: 10px;
                &-title {
                    font-size: 12px;
                }
                &-price {
                    font-size: 16px;
                    &-old {
                        font-size: 12px;
                        &::before {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    &-new {
                        font-size: 16px;
                    }
                }
                &-time {
                    font-size: 12px;
                }
            }
        }
    }
    /*Blog*/
    .blog {
        padding-bottom: 40px;
    }
    /*=CONTACTS=*/
    .contacts-list {
        &-item {
            padding-left: 40px;
        }
    }
    /*=SEARCH=*/
    .search-filter {
        display: block;
        &-item {
            margin-bottom: 15px;
            width: 100%;
            &:last-child {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 520px) {
    /*=HOME=*/
    /*Search*/
    .advanced-search {
        &.fixed {
            .advanced-search-in {
                max-height: -webkit-calc(100vh - 153px);
                max-height: calc(100vh - 153px);
            }
        }
        &-in {
            margin-bottom: 153px;
            //max-height: -webkit-calc(94vh - 153px - 61px);
            //max-height: calc(94vh - 153px - 61px);
            max-height: -webkit-calc(100vh - 153px - 61px);
            max-height: calc(100vh - 153px - 61px);
        }
        &-reset-btn {
            margin-right: 0;
            margin-left: auto;
        }
        .search-bottom-in {
            .flex-wrap();
            .btn {
                margin-top: 10px;
                width: 100%;
            }
        }
        &-details-list {
            column-count: 2;
        }
    }
    /*=404=*/
    .error-title {
        font-size: 200px;
    }
    .error-info {
        &-title {
            font-size: 28px;
        }
    }
}
@media (max-width: 480px) {
    /*=LINKS&FORMS=*/
    /*forms*/
    .form-section {
        padding: 20px 15px;
    }
    /*=HOME=*/
    /*Fire*/
    .room-card {
        &-name {
            font-size: 14px;
        }
    }
    /*=HOTEL-PAGE=*/
    .hotel-tab-content {
        .room-card-address-link {
            display: none;
        }
    }
    .details-list {
        &-btn {
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            height: 30px;
            background-image: url("../img/ico-arrow-down-blue-lg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 26px 14px;
            &[aria-expanded="true"] {
                .rotate(180deg);
            }
        }
    }
    /*=ROOM-PAGE=*/
    .room-hotel-name {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .room-type {
        margin-bottom: 15px;
    }
    .room-address {
        padding-left: 35px;
        font-size: 16px;
    }
    .room-prices {
        max-width: none;
        &-item {
            &-price {
                font-size: 16px;
            }
            &-info {
                font-size: 16px;
            }
        }
    }
    .room-btns-bar {
        display: block;
        max-width: none;
        > .btn {
            width: 265px;
            margin: 0 auto 15px;
        }
        .show-tel-wrapper {
            margin: 0 auto;
            width: 265px;
        }
    }
    .details-list {
        column-count: 1;
    }
    .room-page-info {
        .room-metro,
        .room-address {
            display: none;
        }
    }
    /*=404=*/
    .error-title {
        font-size: 150px;
    }
    .error-info {
        &-title {
            font-size: 26px;
        }
    }
}
@media (max-width: 440px) {
    /*=HOME=*/
    /*Search*/
    .advanced-search {
        .search-filter-label + .hotel-rating {
            margin-top: 5px;
            margin-left: 0;
        }
    }
    /*Fire*/
    .room-card {
        &-header {
            display: block;
        }
        &-title {
            margin-bottom: 10px;
        }
        &-metro {
            column-count: 1;
        }
        &-btns {
            display: block;
            .show-tel-wrapper, > .btn {
                width: 100%;
            }
        }
    }
    /*=HOTEL-PAGE=*/
    .review-form {
        padding: 30px 15px;
    }
}
@media (max-width: 380px) {
    /*=LINKS&FORMS=*/
    /*date*/
    .form-group-date {
        .flex-wrap();
        &-label {
            margin-right: 0;
            margin-bottom: 5px;
            width: 100%;
        }
    }
    /*=HOME=*/
    /*Search*/
    .search.fixed {
        &.show-advanced-btn {
            opacity: 1;
            -webkit-transform: translate3d(0, -150px, 0);
            -moz-transform: translate3d(0, -150px, 0);
            -ms-transform: translate3d(0, -150px, 0);
            -o-transform: translate3d(0, -150px, 0);
            transform: translate3d(0, -150px, 0);
        }
    }
    .search-input {
        padding: 0 10px;
        height: 30px;
        font-size: 14px;
    }
    .search-btn {
        width: 80px;
        height: 30px;
    }
    .search-tags {
        padding: 5px 0;
    }
    .search-tag {
        margin-right: 10px;
        font-size: 9px;
        span {
            margin-right: 2px;
        }
        button {
            img {
                width: 12px;
            }
        }
    }
    /*Fire*/
    .stock {
        position: static;
        &-percents {
            width: 33%;
        }
        &-timer {
            width: 67%;
        }
    }
    .room-card {
        .rating {
            top: 0;
        }
    }
    /*About*/
    .about {
        &-content {
            padding: 20px 15px;
        }
    }
    /*=HOTEL-PAGE=*/
    .review {
        &-rating {
            display: block;
            &-total {
                margin-bottom: 10px;
                padding-right: 0;
            }
        }
    }
    /*=ROOM-PAGE=*/
    .product-slider-wrapper {
        .stock {
            position: static;
            margin-top: 20px;
            width: 100%;
        }
    }
    /*=SEARCH=*/
    .search-filter {
        &-item {
            &:last-child {
                .search-filter-label {
                    display: block;
                    margin-bottom: 5px;
                    + .hotel-rating {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 360px) {
    /*=HOME=*/
    /*Search*/
    .advanced-search {
        &-prices {
            &-in {
                width: 100%;
            }
        }
        &-details-list {
            column-count: 1;
        }
        .search-filter-label {
            &::after {
                display: none;
            }
            &-fire,
            &-cashback {
                padding-left: 25px;
            }
        }
    }
    /*Fire*/
    .room-card {
        &-prices {
            &-item {
                padding: 5px;
                &-title {
                    font-size: 10px;
                }
                &-price {
                    font-size: 14px;
                    &-old {
                        font-size: 10px;
                        &::before {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    &-new {
                        font-size: 14px;
                    }
                }
                &-time {
                    font-size: 9px;
                }
            }
        }
    }
    /*=HOTEL-PAGE=*/
    .stars label {
        width: 20px;
        height: 20px;
    }
    /*=ROOM-PAGE=*/
    .room-prices {
        &-item {
            &-price {
                font-size: 14px;
            }
            &-info {
                font-size: 14px;
            }
        }
    }
    /*=404=*/
    .error-title {
        font-size: 120px;
    }
    .error-info {
        &-title {
            font-size: 22px;
        }
        p {
            font-size: 16px;
        }
    }
    /*=MODALS=*/
    .modal-title {
        font-size: 16px;
    }
}
